{% extends 'home.html' %} {% block title %} Conatct Us{% endblock title %}
{% block body %}
<style>
    .carousel-item img {
        height: 500px;
        /* Set your desired height here */
        object-fit: cover;
        /* Ensures the image covers the area without stretching */
    }

    .carousel-inner {
        max-height: 500px;
        /* Set your desired height here */
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://myrepublica.nagariknetwork.com/uploads/media/smart-driving-license_20200111094935.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.lumina.com.ph/assets/news-and-blogs-photos/Road-Traffic-Rules-and-Regulations-in-the-Philippines/Road-Traffic-Rules-and-Regulations-in-the-Philippines.webp"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://trafficpolice.tripura.gov.in/sites/default/files/inline-images/traffic_sign.png"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="row  mb-3" style="background-color: rgb(116, 116, 246);">
    <div class="col-md-12 text-center" style="color: white; font-size: medium;">
        <div class="container text-center mt-3 mb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptatem illo autem ad distinctio
            deleniti
            aperiam voluptatum, incidunt iusto hic in placeat veniam culpa ab laborum! Quos quia molestiae blanditiis
            dolores
            doloremque quam aliquid officiis perferendis consectetur expedita a velit, maxime magni ratione unde
            aspernatur,
            saepe facilis nam esse numquam amet nihil. Culpa quia architecto quisquam repellat sapiente voluptatem, nam
            dolorum
            recusandae itaque corporis non ex rem ipsa illo nemo dolores autem distinctio delectus doloribus dolorem,
            tenetur
            harum eaque sed quidem. Tempore obcaecati reprehenderit delectus! Quibusdam molestias reiciendis
            reprehenderit,
            officiis quis iure culpa possimus facere laudantium est cumque nisi nostrum quos dicta a dolorem enim
            tempora
            consequuntur accusamus perferendis repellat iste illum aliquid odio? Quia adipisci error quam praesentium
            molestiae,
            totam similique deleniti?


        </div>
    </div>
</div>



<div class="container text-center">
    <div class="row col-12">
        <div class="col-4 md-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/xs_5c17rQn24VJmbLYKmvmJRzuvdVYmB7d9J-6BrjR4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG40/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvZWR1Y2F0aW9u/LTE5NS8xMjgvRWR1/Y2F0aW9uLTA1LTEy/OC5wbmc"
                    class=" card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Written Test </h5>

                    <a href="#" class="btn btn-primary">Click For test</a>
                </div>
            </div>
        </div>
        <div class="col-4 md-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/ETIVqQSTmWOs7QaRp3BlBbyGSs9S0A7Fv3G5BSUerWg/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvNjQwMS82NDAx/NDQ5LnBuZw"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eye Test</h5>

                    <a href="#" class="btn btn-primary">Click her for the eye test</a>
                </div>
            </div>
        </div>

        <div class="col-4 md-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="https://imgs.search.brave.com/2VA4-DyoecewUU9B-tP-kl9ZTur8oaz5JORX2LY3iPs/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4z/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvdGF4ZXMtMTQv/NjQvdmF0X3RheF90/YXhlc19kb2N1bWVu/dF90ZXh0LTUxMi5w/bmc"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vechila Tax Prices </h5>

                    <a href="#" class="btn btn-primary">Click to know</a>
                </div>
            </div>
        </div>

    </div>
    {% endblock body %}