{% extends 'home.html' %}

{% block title %} Questions {% endblock title %}

{% block body %}
<h2 class="text-center text-primary my-4">Questions</h2>

<div id="app">
    <div class="container mt-5 pt-5">
        <div class="row">
            <!-- Main Quiz Form -->
            <div class="col-md-8">
                <h3 class="mb-4">Answer the Questions</h3>
                <form method="post" class="bg-light p-4 rounded shadow-sm">
                    {% csrf_token %}
                    <div v-for="question in questions" :key="question.uid" class="mb-4">
                        <div class="card">
                            <div class="card-header">
                                <strong>Question: [[ question.question ]]</strong>

                                <span class="badge ml-2" :class="difficultyClass(question.difficulty)">
                                    [[ question.difficulty ]]
                                </span>
                            </div>
                            <div class="card-body">
                                <div v-for="answer in question.Answer" :key="answer.answer" class="form-check">
                                    <input @change="selectAnswer(question.uid, answer.answer)" :value="answer.answer"
                                        class="form-check-input" type="radio" :name="'flexRadioDefault' + question.uid"
                                        :id="'flexRadioDefault' + answer.answer">
                                    <label class="form-check-label" :for="'flexRadioDefault' + answer.answer">
                                        [[ answer.answer ]]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <button v-if="hasPreviousPage" @click.prevent="loadPreviousPage"
                            class="btn btn-secondary">Previous</button>
                        <button v-if="hasNextPage" @click.prevent="loadNextPage" class="btn btn-primary">Next</button>
                        <button v-else @click.prevent="submitAnswers" class="btn btn-success">Submit Answers</button>
                    </div>
                </form>
            </div>

            <!-- Sidebar for Results -->
            <div class="col-md-4" v-if="showResult">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Results</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Username:</strong> [[ username ]]</p>
                        <p><strong>Total Questions:</strong> [[ totalQuestions ]]</p>
                        <p><strong>Correct Answers:</strong> [[ totalCorrect ]]</p>
                        <p><strong>Your Score:</strong> [[ totalMarks ]] out of [[ totalAvailableMarks ]]</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                category: '{{ category }}',
                questions: [],
                selectedAnswers: {},
                showResult: false,
                totalQuestions: 0,
                totalCorrect: 0,
                totalMarks: 0,
                totalAvailableMarks: 0,
                username: '',
                currentPage: 1,
                hasNextPage: false,
                hasPreviousPage: false,
                lastDifficulty: 'Easy',
                adaptiveMode: true
            };
        },
        methods: {
            getQuestions(difficulty = this.lastDifficulty) {
                fetch(`/api/question/?category=${this.category}&difficulty=${difficulty}&page=${this.currentPage}`)
                    .then(response => response.json())
                    .then(result => {
                        this.questions = result.data;
                        this.hasNextPage = result.has_next;
                        this.hasPreviousPage = result.has_previous;
                        this.totalQuestions += result.data.length;
                    });
            },
            loadNextPage() {
                this.evaluateAnswers();
                this.currentPage += 1;
                let nextDifficulty = this.determineNextDifficulty();
                this.getQuestions(nextDifficulty);
            },
            loadPreviousPage() {
                if (this.currentPage > 1) {
                    this.currentPage -= 1;
                    this.getQuestions();
                }
            },
            selectAnswer(question_uid, selected_answer) {
                this.selectedAnswers[question_uid] = selected_answer;
            },
            submitAnswers() {
                const payload = {
                    answers: this.selectedAnswers
                };

                fetch('/api/submit-answers/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(payload)
                })
                    .then(response => response.json())
                    .then(result => {
                        this.username = result.username;
                        this.totalCorrect = result.correct_answers;
                        this.totalMarks = result.total_marks;
                        this.totalAvailableMarks = result.total_available_marks;
                        this.showResult = true;
                    })
                    .catch(error => console.error(error));
            },
            difficultyClass(difficulty) {
                switch (difficulty) {
                    case 'Easy':
                        return 'badge-success';
                    case 'Medium':
                        return 'badge-warning';
                    case 'Hard':
                        return 'badge-danger';
                    default:
                        return '';
                }
            },
            evaluateAnswers() {

                Object.keys(this.selectedAnswers).forEach(questionUid => {

                    let question = this.questions.find(q => q.uid === questionUid);
                    if (question && question.correctAnswer === this.selectedAnswers[questionUid]) {
                        this.totalCorrect++;
                        this.lastDifficulty = question.difficulty;
                    }
                });
            },
            determineNextDifficulty() {
                if (!this.adaptiveMode) return this.lastDifficulty;


                switch (this.lastDifficulty) {
                    case 'Easy':
                        return this.totalCorrect > 0 ? 'Medium' : 'Easy';
                    case 'Medium':
                        return this.totalCorrect > 0 ? 'Hard' : 'Easy';
                    case 'Hard':
                        return this.totalCorrect > 0 ? 'Hard' : 'Medium';
                    default:
                        return 'Easy';
                }
            }
        },
        created() {
            this.getQuestions();
        }
    });
</script>

<style>
    .badge-success {
        background-color: #28a745;

    }

    .badge-warning {
        background-color: #ffc107;

    }

    .badge-danger {
        background-color: #dc3545;

    }
</style>

{% endblock body %}