<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block title %} {% endblock title %}
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="side_bar.html"> Nepal License Scholar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Study Material</a></li>
                        <li><a class="dropdown-item" href="#"> Test Exam</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notice">Notices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact US</a>
                </li> -->
            </ul>
            <form class="d-flex">
                <img src="cinqueterre.jpg" class="rounded-circle" alt="Cinque Terre">
                <button class="btn btn-outline-success" type="submit">Profile</button>
            </form>


        </div>
    </div>
</nav>
<style>
    html,
    body {
        height: 100%;
        font-family: 'Ubuntu', sans-serif;
    }

    .gfg {
        height: 50px;
        width: 50px;

    }

    .mynav {
        color: #fff;
    }

    .mynav li a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: block;
        border-radius: 5px;
        padding: 8px 5px;
    }

    .mynav li a.active {
        background: rgba(255, 255, 255, 0.2);
    }

    .mynav li a:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .mynav li a i {
        width: 25px;
        text-align: center;
    }

    .notification-badge {
        background-color: rgba(255, 255, 255, 0.7);
        float: right;
        color: #0533ff;
        font-size: 14px;
        padding: 0px 8px;
        border-radius: 2px;
    }
</style>
<div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar" class="d-flex flex-column 
                flex-shrink-0 
                p-3 bg-primary
                text-white offcanvas-md offcanvas-start">
        <a href="#" class="navbar-brand">
        </a>
        <hr>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-1">
                <a href="profile.html">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile
                </a>
            </li>

            <li class="sidebar-item  nav-item mb-1">

                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#Study"
                    aria-expanded="false" aria-controls="Study">
                    <i class="fa fa-book" aria-hidden="true"></i>

                    <span class="topic">Study Materila </span>
                </a>
                <ul id="Study" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Bike</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Car</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Light Vehical</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Heavy Vehical</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Test your Self
                </a>
            </li>


            <li class="sidebar-item  nav-item mb-1">

                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#settings"
                    aria-expanded="false" aria-controls="settings">
                    <i class="fa fa-cog" aria-hidden="true"></i>

                    <span class="topic">Settings </span>
                </a>
                <ul id="settings" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div class="d-flex">
            <i class="fa-solid fa-book  me-2"></i>
            <span>
                <h6 class="mt-1 mb-0">
                    Driving License Schooler
                </h6>
            </span>
        </div>
    </div>


    {%block body %}
    This is body part
    {% endblock body %}
</div>