{% extends 'main/side_bar.html' %} {% block title %} {% endblock title %}
{% block body %}


<div class="bg-light flex-fill">
    <div class="p-2 d-md-none d-flex text-white bg-success">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fa-solid fa-bars"></i>
        </a>
        <span class="ms-3">GFG Portal</span>
    </div>
    <div class="p-4">
        <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa-solid fa-house"></i>
                </li>
                <li class="breadcrumb-item text-center">Study Material </li>

            </ol>
        </nav>

        <hr>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <ul class="conatin">
                        <div class="hreader">
                            For Overtaking Vehicles

                        </div>
                        <li>
                            You should overtake from the right side
                        </li>
                        <li>
                            Overtaking should not be done at places where overtaking prohibition signs are posted, busy
                            intersections or lanes, zebra crossings, bends, bends, uphill and downhill, etc.
                        </li>
                        <li>
                            When trying to overtake a vehicle coming from behind, you should slow down and give way.
                        </li>
                        <li>
                            The unbroken straight lines in the middle the road, means you should not overtake by
                            crossing the line. from opposite lane.
                        </li>

                        <li>
                            It is reasonable to overtake if your vehicle is faster than the one in front of you.
                        </li>
                        <li>
                            While overtaking, one should pay attention to the fact that the vehicle is not coming from
                            the opposite direction
                        </li>
                        <li>
                            The broken lines in the middle of a road, means you can overtake from the opposite lane.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock body %}